:root {
  --blue: hsl(200, 100.0%, 26.7%);
  /* #005b88 */
  --red: hsl(7, 66.8%, 36.7%);
  /*#9c2d1f */
  --web-red: #ab1a25;
  --web-blue: #2980b9;
  --web-outline: #3c4d5f;
  --neutral: hsl(204, 10.6%, 18.4%);
  --outline: hsl(208, 37%, 20%);
  --outline-a: hsl(212, 47%, 25%);
  --outline-b: hsl(204, 27%, 15%);
  --primary: var(--blue);
  --primary-a: hsl(206, 100%, 36%);
  --primary-b: hsl(194, 90%, 18%);
  --secondary: hsl(200, 87%, 97%);
  --secondary-a: hsl(204, 100%, 100%);
  --secondary-b: hsl(196, 70%, 94%);
  --background: hsl(196, 60%, 97%);
  --shadow-color: 201deg 17% 65%;
  --shadow-elevation-low:
    0.6px -0.3px 0.9px hsl(var(--shadow-color) / 0.12),
    1.1px -0.6px 1.7px -0.5px hsl(var(--shadow-color) / 0.24),
    2.4px -1.3px 3.7px -0.9px hsl(var(--shadow-color) / 0.37);
  --shadow-elevation-medium:
    0.6px -0.3px 0.9px hsl(var(--shadow-color) / 0.1),
    1.1px -0.6px 1.7px -0.2px hsl(var(--shadow-color) / 0.16),
    2.1px -1.1px 3.2px -0.5px hsl(var(--shadow-color) / 0.23),
    2.4px -1.3px 3.7px -0.9px hsl(var(--shadow-color) / 0.29),
    3.8px -2px 5.8px -1.1px hsl(var(--shadow-color) / 0.36);

}





/* ---- */
/* PAGE */
/* ---- */

html, body {
  font-family: monospace;
  padding: 0;
  margin: 0;
  color: var(--web-outline);
  height: 100%;
  background-color: var(--background);
}





/* ------ */
/* HEADER */
/* ------ */

div.inputs {
  z-index: 1;
  position: fixed;
  display: grid;
  grid-template-areas:
    'm m m m'
    'a b c d'
    'e f g h'
    'i j k .';
  background-color: var(--secondary-a);
  bottom: 0;
  padding: 1rem 2rem 2rem 2rem;
  align-items: end;
  row-gap: 1em;
  border-radius: 2px;
  box-shadow: var(--shadow-elevation-medium);
}

h1              { grid-area: m;}
#corner-label   { grid-area: a;}
#radio-round    { grid-area: b;}
#radio-square   { grid-area: c;}
#radio-asym     { grid-area: d;}
#fill-label     { grid-area: e;}
#radio-outline  { grid-area: f;}
#radio-filled   { grid-area: g;}
#radio-multi    { grid-area: h;}
#texture-label  { grid-area: i;}
#radio-flat     { grid-area: j;}
#radio-gradient { grid-area: k;}

h1 {
  padding-inline: 1em;
  padding-bottom: 0.4em;
  margin-bottom: 0.2em;
  text-align: center;
  border-bottom: #3c4d5f 2px solid;
}

h2 {
  font-size: 1rem;
  margin-block: 0.2rem;
  margin-right: 1em;
  text-align: right;
}

input {
  accent-color: var(--web-blue);
}

label {
  padding: 0.3em 0.5em;
  padding-bottom: 0.15em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

label > span {
  display: block;
}





/* --------------- */
/* REFERENCED SVGS */
/* --------------- */

.source {
  display: none;
}






/* ----- */
/* ICONS */
/* ----- */

section.icons {
  width: 100vw;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

div.icon-group {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  margin: 1rem;
}

div.x {
  display: flex;
  flex-wrap: nowrap;
}

div.y {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

div.a {
  font-size: 16px;
}

div.b {
  font-size: 32px;
}

div.c {
  font-size: 64px;
}

div.d {
  font-size: 96px;
  /* display: none; */
  text-align: end;
}

#horizontal-icons {
  flex-direction: column-reverse;
  align-items: flex-end;
}


svg {
  border-width: 1px;
  border-color: transparent;
  border-style: solid;
  border-radius: 1px;
  background-color: var(--secondary-a);
  margin: 2px;
  width: 1em;
  height: 1em;
  cursor: pointer;
  box-shadow: var(--shadow-elevation-low);
}

svg:hover {
  filter: brightness(1.5) saturate(0.72) hue-rotate(7deg);
  border: 1px solid var(--web-blue);
}


svg.hidden {
  position: absolute;
  top: 0;
  left: 0;
  border: none;
  margin: 0;
  width: 1px;
  height: 1px;
}

@media (max-width: 685px) {
  #horizontal-icons {
    display: none;
  }
  #vertical-icons {
    align-items: flex-start;
    justify-content: flex-end;
    margin-bottom: calc(256px + 2rem);
  }
  div.d {
    display: block;
  }
}
